html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}
.App.break {
  color: #bcfdab;
}

body {
  color: #ec6b6b;
  font-family: Quicksand, Helvetica, sans-serif;
  text-align: center;
}

.App {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

h1.header {
  font-family: Anton;
  font-size: 7em;
  text-align: center;
  margin-bottom: 0;
}

h2.subHeader {
  font-size: 1.7em;
  font-weight: 400;
  margin-top: -33px;
}

h1.time {
  font-size: 12em;
  margin: 0;
  user-select: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 15em;
}

h1.time:active {
  background: #eee;
}

h3.onBreakLabel {
  margin-top: 0;
}

.cycleGroup {
  margin-top: auto;
}

.cycleGroup button {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1em;
  outline: none;
}

.corner {
  position: fixed;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 300px;
  z-index: 1;
}

.corner > * {
  display: none;
}

.corner.expanded {
  padding: 15px;
  background: #ffffd3;
  border: 1px solid #ffffed;
  box-shadow: -3px 4px 20px 7px rgba(0, 0, 0, 0.2);
  z-index: 2;
  color: black !important;
}

.corner.expanded > * {
  display: inherit;
}

.cornerHeader {
  display: block !important;
}

.corner.expanded .cornerHeader {
  font-weight: bold;
  margin-bottom: 10px;
}

.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.expanded.corner {
  display: block !important;
}

span.settingsHead {
  cursor: pointer;
}

.expanded span.settingsHead {
  display: none;
}

.bannerMsg {
  background: #ffffe4;
  padding: 30px 0;
  color: black;
}

label {
  float: left;
}

input[type='number'] {
  width: 5em;
  margin-left: 40px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .time {
    font-size: 8em !important;
  }
  .headerGroup {
    font-size: 0.7em;
  }
  h2.subHeader {
    margin-top: -18px;
  }
}
